.alert-danger {
    display: none;
}

body {
	width: 100%;
}

.title{
	display: inline-block;
	text-align: center;
	font-size: 150px;
	color: #c4302b;
	width: 100%;
}

.title i {
	width: 100%;
}

/* Forms */

.file-info{
	visibility: hidden;
	opacity: 0;
	height: 0;
	padding: 0;
}

.file-info-show {
	visibility: visible !important;
	background-color: #c4302b;
	margin-left: 2.5rem;
	padding: 5px;
	border-radius: 5%;
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	opacity: 1;
	transition: opacity 1s ease-in;
	max-width: fit-content;
}

.link-icon{
	font-size: 2.5rem;
}

.list-file-type{
	margin-left: 10px;
	margin-right: -15px
}

.trash-button{
	border: 2px solid black;
	border-radius: 10px;
}

.trash-button i {
	color: black;
	font-size: 1.5rem;
}

.form-group{
	margin-right: 10px;
}


/* Bottom buttons */

.buttons button{
	text-align: center;
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 5px;
}

#submitAllBtn {
	margin-right: 3rem;
}

.buttons i{
	padding-right: 10px;
}


/* Responsive */
@media screen and (max-width: 767px){
	.form-group{
		display: inline;
		width: 100%;
	}

	.dynamic-form{
		display: flex;
		flex-wrap: wrap;
	}

	.buttons button {
		font-size: 1rem;
	}

	#submitAllBtn {
		margin-right: 5.5rem;
	}
}

@media screen and (max-width: 575px) {
	.buttons {
		display: block !important;
		padding-left: 2.5rem;
	}

	#submitAllBtn {
		margin-top: 5px;
	}
}

@media screen and (max-width: 992px) {
	
}